.btn {
  cursor: pointer !important;
  display: inline-block !important;
  font-weight: 400 !important;
  color: #a6b0cf !important;
  text-align: center;
  vertical-align: middle !important;
  user-select: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: .47rem .75rem !important;
  font-size: .8125rem !important;
  line-height: 1.5 !important;
  border-radius: .25rem !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-sm{
  padding: 4px 6px !important;
  //border-radius: 0 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #556ee6 !important;
  border-color: #556ee6 !important;
}

.btn svg{
  font-size: 16px !important;
  margin-right: .5rem !important;
  vertical-align: middle !important;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  cursor: pointer;
  outline: none;
}

.btn-primary.focus, .btn-primary:active, .btn-primary:hover {
  color: #fff !important;
  background-color: #3452e1 !important;
  border-color: #2948df !important;
  outline: none;
}

.btn:focus{
  box-shadow: none !important;
}

.btn-danger {
  color: #ffffff !important;
  background-color: #f46a6a !important;
  border-color: #f46a6a !important;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active{
  color: #fff !important;
  background-color: #f14646 !important;
  border-color: #f03b3b !important;
}