$color_1: #27367f;
$color_2: #fff;
$color_3: #b1b1b5;
$color_4: #d0cfcf;
$color_5: #343a40;
$color_6: inherit;
$color_7: #ffffff;
$color_8: #a6b0cf;
$color_9: #000000;
$font-family_1: "Poppins", sans-serif;
//$background-color_1: #2a3042;
$background-color_1: #fff;
$background-color_2: transparent;
$background-color_3: #32394e;
$background-color_4: #556ee6;

$border_bottom_color: #dee2e6;