@import "Global";

.modal-content {
  background-color: $background-color_1 !important;
  border: 1px solid $border_bottom_color !important;
  border-radius: .4rem !important;
  color: #bfc8e2 !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
}

.modal-body{
  color: #bfc8e2 !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;

  h2,h3,h4,h5,p,span{
    color: #bfc8e2 !important;
  }
}

.modal-header {
  border-bottom: 1px solid $border_bottom_color !important;
}

.modal-title{
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.modal-footer {
  border-top: 1px solid $border_bottom_color !important;
}

.close,.close:hover,.close:focus{
  color: #ffffff !important;
  outline: none;
}