@import "Reset";
@import "Button";
@import "Modal";

$color_1: #27367f;
$color_2: #fff;
$color_3: #b1b1b5;
$color_4: #d0cfcf;
$color_5: #8c909a;
$color_6: inherit;
$color_7: #ffffff;
$color_8: #a6b0cf;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #2a3042;
$background-color_2: transparent;
$background-color_3: #32394e;
$background-color_4: #556ee6;

.navbar {
  font-weight: 400;
  transition: background 0.25s ease;
  border-bottom: 1px solid #2a2c40;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .navbar-brand-wrapper {
    background: #2a3042;
    transition: width 0.25s ease, background 0.25s ease;
    width: 240px;
    height: 70px;

    .navbar-brand {
      color: $color_1;
      font-size: 1.5rem;
      margin-right: 0;
      padding: 0.25rem 0;

      .img {
        width: calc(240px - 80px);
        max-width: 100%;
        height: 26px;
        margin: auto;
        vertical-align: middle;
        color: $color_2;
        font-weight: bold;

        svg {
          color: $color_2;
        }
      }
    }

    .navbar-brand.brand-logo-mini {
      display: none;
    }

    .brand-logo-mini {
      padding-left: 0;
      text-align: center;
    }
  }

  .navbar-menu-wrapper {
    background: #2a3042;
    transition: width 0.25s ease;
    color: $color_3;
    width: calc(100% - 240px);
    height: 70px;
    border-left: 1px solid #2a2c40;
    padding-left: 1.5rem;

    .sidebar-toggle {
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.page-body-wrapper {
  min-height: calc(100vh - 70px);
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 70px;
}

.sidebar {
  min-height: calc(100vh - 70px);
  background: #2a3042;
  font-family: $font-family_1;
  font-weight: 400;
  position: fixed;
  padding: 0;
  width: 240px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  overflow: hidden;
  height: calc(100vh - 70px);

  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;

    &:not(.sub-menu) {
      margin-top: 0.5rem;

      > .nav-item {
        margin-top: 0.625rem;

        &:hover {
          > .nav-link {
            background: #202946;
            color: $color_4;
          }
        }

        > .nav-link {
          margin: 0;
        }
      }
    }

    .nav-item {
      transition-duration: 0.25s;
      transition-property: background;

      .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0.75rem 1.25rem 0.75rem 1.25rem;
        color: $color_5;
        transition-duration: 0.45s;
        transition-property: color;
        outline: none;

        .menu-title {
          color: $color_6;
          display: inline-block;
          font-size: 0.9rem;
          line-height: 1;
          vertical-align: middle;
          font-weight: 500;
        }
      }

      .nav-link[aria-expanded=true] {
        .menu-arrow {
          transform: rotate(180deg);
        }
      }

      .collapse {
        z-index: 999;
      }

      > .active {
        background: initial;
        position: relative;

        .menu-title {
          color: $color_2;
        }

        .menu-icon {
          color: $color_2;
        }

        .menu-arrow {
          color: $color_2;
        }
      }
    }
  }

  .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 0.25rem 0 0 3.75rem;

    .nav-item {
      padding: 0;

      .nav-link {
        color: $color_5;
        padding: 1rem 1rem;
        position: relative;
        font-size: 0.9rem;
        line-height: 1;
        height: auto;
        border-top: 0;
      }
    }
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: 100%;
  margin: 0 auto 0 240px;
  min-height: calc(100vh - 70px);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-icon-only {
  .sidebar {
    width: 70px;
    overflow: visible;
    height: auto;
  }

  .navbar {
    .navbar-brand-wrapper {
      .brand-logo-mini {
        display: inline-block;
      }
    }
  }

  .main-panel {
    margin-left: 70px;
  }
}

.nav-search {
  .input-group-prepend {
    background-color: $background-color_1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    .input-group-text {
      background-color: $background-color_1;
      border: none;
      border-radius: 30px;
      color: $color_5;
    }
  }

  .form-control {
    border: none;
    height: 36px;
    padding-left: 0;
    background-color: $background-color_1;
    box-shadow: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: $color_7;

    &:not(:first-child) {
      color: $color_7;
      background-color: $background-color_2 !important;
    }
  }
}

.navbar-dropdown.hover-content-show {
  .nav-dropdown-hover {
    display: block;
  }
}

.navbar-dropdown {
  cursor: pointer;

  .nav-dropdown-hover {
    position: absolute;
    margin: 18px 10px 0;
    right: 10px !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    z-index: 1000;
    max-width: 20rem;
    font-size: 0.8125rem;
    color: $color_8;
    text-align: left;
    list-style: none;
    background-color: $background-color_1;
    background-clip: padding-box;
    border: 1px solid #32394e;
    border-radius: 0.25rem;
    display: none;

    .nav-dropdown-body {
      height: 230px;
      position: relative;

      .wrapper {
        margin: 0;
        overflow: hidden scroll;
        width: inherit;
        height: inherit;
        max-width: inherit;
        max-height: inherit;

        .media {
          padding: 0.75rem 1rem;
          display: flex;
          align-items: flex-start;

          &:hover {
            background-color: $background-color_3;
          }

          .avatar {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem !important;

            .avatar-title {
              align-items: center;
              background-color: $background-color_4;
              color: $color_2;
              display: flex;
              font-weight: 500;
              height: 100%;
              justify-content: center;
              width: 100%;
              font-size: 16px !important;
              border-radius: 50% !important;
            }
          }

          .media-body {
            flex: 1 1;
            color: $color_5;

            h6 {
              font-size: 0.8rem;
            }

            p {
              font-size: 0.7rem;
            }

            svg {
              font-size: 15px;
              padding-bottom: 3px;
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
    }

    .border-top {
      border-top: 1px solid #32394e !important;
    }
  }
}

.custom-video-list {
  .card-body {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .sidebar-icon-only {
    .navbar {
      .navbar-brand-wrapper {
        width: 70px;

        .brand-logo {
          display: none;
        }

        .brand-logo-mini {
          display: inline-block;
        }
      }

      .navbar-menu-wrapper {
        width: calc(100% - 70px);
      }
    }

    .sidebar {
      width: 70px;

      .nav {
        overflow: visible;

        .nav-item {
          position: relative;

          .nav-link {
            display: block;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            text-align: center;
            position: static;

            .menu-title {
              display: none;
              border-radius: 0 5px 5px 0;
            }

            .badge {
              display: none;
            }

            .menu-sub-title {
              display: none;
            }

            .menu-icon {
              margin-right: 0;
              margin-left: 0;
              margin-bottom: 0;
            }

            .menu-arrow {
              display: none;
            }
          }

          .nav-link[aria-expanded] {
            .menu-title {
              border-radius: 0 5px 0 0;
            }
          }

          .collapse {
            display: none;
          }
        }

        .nav-item.hover-open {
          .nav-link {
            .menu-title {
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: center;
              align-items: center;
              background: #2a3042;
              padding: 0.5rem 1.4rem;
              left: 70px;
              position: absolute;
              text-align: left;
              top: 0;
              bottom: 0;
              width: 190px;
              z-index: 1;
              line-height: 1.8;
              box-shadow: 4px 0 7px 0 rgba(182, 185, 189, 0.25);

              &:after {
                display: none;
              }
            }

            &:hover {
              .menu-title {
                background: #2a3042;
              }
            }
          }

          .collapse {
            display: block;
            padding: 0.5rem 0;
            background: #2a3042;
            border-radius: 0 0 5px 0;
            position: absolute;
            left: 70px;
            width: 190px;
            box-shadow: 4px 4px 7px 0 rgba(182, 185, 189, 0.25);
          }
        }
      }

      .nav.sub-menu {
        padding: 0 0 0 1.5rem;

        .nav-item {
          .nav-link {
            text-align: left;
            padding-left: 20px;
          }
        }
      }
    }
  }
  .sidebar-dark.sidebar-icon-only {
    .sidebar {
      .nav {
        .nav-item.hover-open {
          .nav-link {
            .menu-title {
              color: $color_7;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    flex-direction: row;

    .navbar-brand-wrapper {
      width: 55px;

      .navbar-brand.brand-logo {
        display: none;
      }

      .navbar-brand.brand-logo-mini {
        display: inline-block;
      }
    }

    .navbar-menu-wrapper {
      width: calc(100% - 55px);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
  .sidebar {
    overflow: hidden;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    left: -240px;
    transition: all 0.25s ease-out;
  }
  .sidebar-icon-only {
    .sidebar-offcanvas {
      left: 0;
    }

    .sidebar {
      width: 240px;
      overflow: hidden;
      height: auto;
    }
  }
  .main-panel {
    width: 100%;
    margin: 0 auto !important;

    .content-wrapper {
      padding: 2.5rem 0;
    }
  }
}