@import "Global";
.video-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000 !important;
  background-color: transparent !important;
  background-clip: padding-box;
  border: 1px solid $border_bottom_color !important;
  border-radius: 0.25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 10px;

  .video-description{
    margin-left: 30px;
    margin-top: 20px;
    p{
      color: #000000 !important;
    }
  }
}
.youtube-video-wrapper{
  max-height: 400px;
  overflow-y: auto;
}